.budgetContainer {
    background-color: black;
    color: white;
}
.yourPartnerImage {    
    background-image: url(/public/images/footer.png);
    background-size: cover;
    height: 60vh;
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: flex-start;
    background-position: 61% center;
    flex-direction: column;
    justify-content: space-between;
}
.yourPartnerImage strong {
    font-weight: 600;
}
.yourPartnerImage p {
    margin-left: 10%;
}
.logoBudget {
    width: 60px;
    margin-left: 80%;
    margin-top: 1em;
}
.budgetSubtitle {
    font-size: 12px;
    width: 50%;
    margin: auto;  
    font-family: 'Inter Variable', sans-serif;
    text-align: center;
    font-weight: 300;
}
.budgetContainerBox {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.budgetChart{
    width: 90%;
    margin: 7% 0;
}
.presupuestoTotalDiv {
    width: 55%;
    padding: 1.8%;
    background-color: white;
    color: black;
    margin: 0;
    text-align: center;
    border-radius: 20px;
    margin: 1em;
}
.presupuestoTotal {
    font-family: 'Inter Variable', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}
.presupuesto {
    font-size: 30px;
    font-weight: 600;
    line-height: 29.7px;
    font-family: 'Montserrat Variable', sans-serif;
    margin: 0;
}
@media(min-width:600px) {
    .yourPartnerImage {    
        font-size: 28px;
    }
    .budgetSubtitle {
        font-size: 15px;
        width: unset;
    }
    .presupuesto {
        font-size: 34px;
        line-height: 35px;
    }
    .budgetChart {
        width: 70%;
        margin: 10% 0;
    }
    .presupuestoTotalDiv {
        width: 29%;
        padding: 1.5%;
        border-radius: 25px;
    }
}
@media(min-width:1200px) {
    .yourPartnerImage {    
        height: 80vh;
    }
    .yourPartnerImage p {
        margin-left: 10%;
        font-size: 47px;
        margin-bottom: 2em;
        line-height: normal;
    }
    .logoBudget {
        width: 95px;
        margin-left: 80%;
        margin-top: 3em;
    }
    .budgetSubtitle {
        font-size: 17px;
    }
    .budgetChart {
        width: unset;
        margin: 6% 0;
        height: 40vh;
    }
    .presupuesto {
        font-size: 50px;
        line-height: 52px;
    }
    .presupuestoTotal {
        font-size: 16px;
    }
    .presupuestoTotalDiv {
        width: 21%;
        padding: 1%;
        border-radius: 35px;
    }
}