.techniquesContainer {
    text-align: center;
    width: 80%;
    margin: 40px auto;
}
.formacionText {
    font-size: 12px;
    line-height: normal;
    margin: 1.5em;
}

.techniquesContainer h5 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    line-height: 1;
    width: 70%;
}
.techniquesText {
    font-size: 11px;
    font-weight: 400;
    color: white;
    line-height: normal;
}
.techniquesBoxsContainer {
    font-family: 'Montserrat Variable', sans-serif;
    width: 70vw;
    margin: auto;
}
.techniqueBox {
    position: relative;
}
.techniqueInfoBox {
    position: absolute;
    z-index: 2;
    transform: translateY(-115%);
    margin: 0px 15px;
    text-align: left;
}
.techniqueBox img {
    width: 100%;
}