.puntosClaveContainer {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.puntosClaveCircle{
    border-radius: 50%;
    width: 48%;
    color: black;
    background-color: #fff;
    text-align: center;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.puntosClaveText {
    font-size: 9.6px;
    font-weight: 400;
    width: 78%;
    margin: 0px auto;
    line-height: normal;
}
.puntosClaveNumber {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}