.aboutContainer {
    background-color: black;
    background-color: #2d4047;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12%;
}

.aboutBox {
    margin: 5px;
    width: 46%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutInfoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutInfoBox h5 {
    font-size: 12px;
    font-weight: 700;
    margin: 0.5em 0;
    font-family: 'Montserrat Variable', sans-serif;
    line-height: normal;
    width: 80%;
}
.aboutText {
    font-size: 10.5px;
    font-weight: 300;
    margin: 0.5em 0;
    line-height: normal;
}
.aboutIconCircle {
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin: 0.5em auto;
}

@media(min-width:600px){
    
    .aboutBox {
        margin: 8px 20px;
        width: 40%;
    }
    .aboutText {
        font-size: 11px;
    }
    .aboutInfoBox h5 {
        font-size: 11px;
    }
    .aboutContainer h2{
        width: 100%;
        margin-bottom: 2em;
    }
}

@media(min-width:1000px){
    .aboutContainer {
        padding: 6%;
        justify-content: space-evenly;
    }
    .aboutBox {
        margin: 8px 12px;
        width: 33%;
    }
}
@media(min-width:1200px){
    .aboutIconCircle {
        width: 42px;
        height: 42px;
    }
    .aboutInfoBox h5 {
        font-size: 15px;
    }
    .aboutText {
        font-size: 14px;
        line-height: normal;
    }
    .aboutContainer {
        justify-content: space-around;
        padding: 6% 10%;
    }
    
    .aboutBox {
        width: 29%;
        margin: 20px 12px;
    }
    .aboutContainer h2 {
        margin-bottom: 1.5em;
    }
}
@media(min-width:1400px) {
    .aboutBox {
        width: 23%;
    }
    .aboutContainer {
        padding: 6% 13%;
    }
}
@media (min-width: 1800px) {
    .aboutBox {
        width: 24%;
        margin: 20px 24px;
    }
    .aboutInfoBox h5 {
        font-size: 18px;
    }
    .aboutText {
        font-size: 17px;
    }
}