
.heroImageDiv {
    width: 100%;
    height: 80vh;
    position: absolute;
}
.imagesHero {
    width: 33.33333333%;
    height: 80vh;
    object-fit: cover;
    object-position: left;
}
.heroInfo {
    color: white;
    z-index: 5;
    position: relative;
    height: 79vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heroContainer {
    font-family: 'Montserrat Variable', sans-serif;
}
.heroImageDiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.2); /* Negro con 50% de opacidad */
}
.heroLogo {
    width: 220px;
    margin-top: 36vh;
    z-index: 2;
}
h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    line-height: normal;
    width: 90%;
    z-index: 2;
    margin: 0.5em auto;
}
h5 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}
.heroInfo h5 {
    margin: 0 3.5em;
    text-align: center;
    font-size: 16px;

    display: none;
    margin: 15px 4.5em;
    background-color: #2d4047;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 0.55em;
    border-radius: 20px;
}
.heroFooter {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    display: none;
}
.heroFooterStrong {
    font-weight: 600;
    margin: 0;
}
.heroFooterP {
    font-weight: 300;
    margin: 0;
}
.heroTextContainer {
    z-index: 2;
    text-align: center;
}

@media(min-width:600px){
    h1 {
        font-size: 22px;
        line-height: normal;
        width: 70%;
    }
    .heroLogo {
        width: 300px;
        margin-top: 20em;
    }
    .heroInfo h5 {
        margin: 0 auto;
        width: 72%;
        text-align: center;
    }
}
@media (min-width: 1000px) {
    .heroLogo {
        width: 330px;
        margin-top: 25em;
        margin-bottom: 1em;
    }
    h1 {        
        font-size: 25px;
    }
}
@media (min-width: 1200px) {
    .heroLogo {
        width: 370px;
        margin-top: 12em;
        margin-bottom: 0em;
    }
}