.hero {
    background-image: url(/images/hero.png);
    background-size: cover;
    height: 80vh;
    /* background-position: left center; */
    background-position: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.heroContainer {
    font-family: 'Montserrat Variable', sans-serif;
}
.heroLogo {
    width: 315px;
}
h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 23px;
    margin: 0.2em;
}
h5 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}


.heroFooter {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}
.heroFooterStrong {
    font-weight: 600;
    margin: 0;
}
.heroFooterP {
    font-weight: 300;
    margin: 0;
}