.footerContainer {
    color: black;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 40px 0;
}
.footerSubtitle {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}
.footerText {
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    margin: 0.3em;
}
.footerIconMail {
    width: 75px;
}
.contactContainer {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}
.contactContainer p {
    font-size: 12px;
    margin: 0;
}
.contactContainer div {
    width: 50%;
}