:root {
  font-family: 'Montserrat Variable', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* #2d4047 azul */
  /* f4f4f4 blacno*/
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat Variable', sans-serif;
  font-family: 'Inter Variable';
  background-color: #f4f4f4;
}

h2 {
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 29.7px;
  text-align: center;
  font-family: 'Montserrat Variable', sans-serif;

}
.tabletOn {
  display: none;
}
@media(min-width: 600px){
  h2 {
    width: 100%;
    font-size: 31px;
  }
  
  .tabletOn {
    display: block;
  }
  .tabletOff {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  h2 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .css-20bmp1-MuiSvgIcon-root {
    font-size: 2rem !important;
  }
}